/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary
# Tell GitHub to ignore frontend files when calculating repository language statistics
src/main/resources/templates/* linguist-vendored
src/main/resources/static/* linguist-vendored
*.html linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false